---
---

<section class="mb-8">
  <div class="mb-4">
    <h1
      class="font-extrabold text-5xl md:text-6xl tracking-tight pt-4 pb-2 overflow-hidden"
    >
      <span
        class="bg-gradient-to-br from-[#fb923c] via-[#f97316] to-[#ea580c] dark:from-primary-main dark:via-primary-main dark:to-primary-main bg-clip-text text-transparent"
      >
        Henri Dev
      </span>
    </h1>
    <p class="text-2xl pb-4">Software Engineer. Backend Developer. Linux Enthusiast.</p>
  </div>
  <div>
    <p class="mb-5">
      Hello! I am Henri, and I from Brazil. You can refer me as creator of crazy solutions, maker or "<i>gambiarrista profissional</i>" for those closest.
    </p>
    <p class="text-center whitespace-nowrap overflow-auto">
      <code class="py-1 px-2"><i>Learn as if you will live forever, live like you will die tomorrow.</i></code>
    </p>
  </div>
</section>
